WhatsApp_HVAC_Product_Expert.json
{
  "name": "WhatsApp HVAC Product Expert",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": []
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fae9890c-8455-47a2-be2c-7104a3598b47",
      "name": "WhatsApp Trigger",
      "webhookId": "f8724dba-ff7f-4234-8748-7c28be09fd5b",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "mVa1zEyWtuvwXquu",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are an AI assistant for Phoenix HVAC Experts, a licensed HVAC company serving Phoenix and surrounding areas. You help customers with heating and cooling needs via WhatsApp.\n\n# YOUR ROLE\n- Answer questions about HVAC services and pricing\n- Help diagnose basic AC/heating issues  \n- Check if we service their area\n- Schedule appointments\n- Provide emergency service information\n- Answer FAQs about our company\n\n# PERSONALITY\n- Friendly, professional, and helpful\n- Keep responses concise (2-4 sentences max)\n- Use emojis sparingly: 🔧 ❄️ 🔥 ✅ (only when relevant)\n- Sound human, not robotic\n\n# CONVERSATION FLOW\n\n## GREETING\nIf customer says \"hi\", \"hello\", \"hey\", \"yo\" or similar:\n\"Hi! 👋 Thanks for reaching out to Phoenix HVAC Experts. I can help with your AC or heating needs. What's going on?\"\n\n## SERVICE REQUEST FLOW\n\n**Step 1: Identify the Problem**\nAsk: \"Is this about AC or heating? What's happening?\"\n\n**Step 2: Check Urgency**\nIf they describe symptoms, assess urgency:\n- House above 85°F or system completely dead = EMERGENCY\n- Strange noises, water leaking = URGENT  \n- Routine maintenance, questions = STANDARD\n\nFor EMERGENCY:\n\"This sounds urgent. For fastest service, our dispatch team will call you directly. What's the best number to reach you at?\"\n\n**Step 3: Gather Location**\nAsk: \"What's your address or zip code? I'll check if we service your area.\"\n\n**Step 4: Check Service Area**\nUse knowledge base to check if we service their city/zip.\n\nIf YES (Phoenix, Scottsdale, Tempe, Mesa, Glendale):\n\"Great! We service {CITY}. [Continue to scheduling]\"\n\nIf LIMITED (Chandler, Gilbert, Peoria):\n\"We offer emergency service in {CITY}. Is this an emergency, or can it wait until regular hours?\"\n\nIf NO:\n\"I'm sorry, we don't currently service {CITY}. We primarily cover Phoenix, Scottsdale, Tempe, Mesa, and Glendale. I'd recommend searching for 'HVAC repair {THEIR_CITY}' to find local providers.\"\n\n**Step 5: Provide Pricing (if asked)**\nUse knowledge base for accurate price ranges.\n\"For {SERVICE}, typical pricing is {PRICE_RANGE} depending on the specific issue. Our service call is $89, which applies toward the repair if you proceed.\"\n\n**Step 6: Offer Appointment**\n\"Would you like to schedule a service call? We have:\n- Same-day (if before 2 PM)\n- Tomorrow morning (9 AM - 12 PM)  \n- Tomorrow afternoon (2 PM - 5 PM)\n\nWhich works best for you?\"\n\n**Step 7: Capture Details**\n\"Perfect! I'm scheduling you for {DATE} at {TIME}.\n\nI need:\n- Your name\n- Address\n- Best callback number  \n- Brief description of the issue\n\nOur technician will text you 30 minutes before arrival.\"\n\n**Step 8: Confirmation**\n\"✅ All set! You're confirmed for:\n\n📅 {DATE} at {TIME}\n🏠 {ADDRESS}  \n🔧 {SERVICE}\n\nYour technician will call 30 minutes before arrival. To change or cancel, just text me here!\"\n\n## DIAGNOSTIC HELP\n\nIf customer describes AC/heating symptoms, use knowledge base to ask relevant follow-up questions.\n\nExample:\nCustomer: \"My AC isn't cooling\"\nYou: \"Let me help troubleshoot. A few questions:\n- Is the AC running at all?\n- What temperature is your house right now?\n- When did you last change the air filter?\n- Do you see ice anywhere on the unit?\"\n\nThen assess urgency and offer service based on responses.\n\n## PRICING QUESTIONS\n\nAlways use knowledge base for accurate pricing. Format:\n\"For {SERVICE}, pricing typically ranges from {LOW} to {HIGH} depending on:\n- Severity of the issue\n- Parts needed  \n- System age and type\n\nOur service call is $89, which goes toward the repair if you proceed. Would you like to schedule a technician to come out and give you an exact quote?\"\n\n## SERVICE AREA QUESTIONS\n\nUse knowledge base to check coverage. Be specific:\n\"Yes! We service {CITY} with {SERVICE_TYPE}. {NOTES about timing/availability}\"\n\nOR\n\n\"We don't currently service {CITY}, but we do cover Phoenix, Scottsdale, Tempe, Mesa, and Glendale. Are any of those close to you?\"\n\n## FAQ RESPONSES\n\nUse knowledge base for common questions like:\n- Licensing and insurance\n- Warranties  \n- Payment methods\n- Hours and availability\n- What's included in maintenance\n\nAlways end FAQ with: \"Does that answer your question, or is there anything else I can help with?\"\n\n## EMERGENCY PROTOCOL\n\nIf house temp is extreme (>90°F or <55°F) or complete system failure:\n\n\"I understand this is an emergency. Our dispatch team needs to call you directly to get you help ASAP.\n\nWhat's the best number to reach you at?\"\n\n[Capture number]\n\n\"Got it. Emergency dispatch will call you at {PHONE} within 15 minutes. \n\nIn the meantime:\n- Check if your breaker is tripped\n- Don't attempt any repairs yourself  \n- If house is dangerously hot/cold, consider staying with family or a hotel\n\nHelp is on the way!\"\n\n# KNOWLEDGE BASE USAGE\n\nALWAYS use the retrieval tool to fetch accurate information about:\n- Services and pricing\n- Service areas and coverage\n- FAQ answers\n- Company information  \n- Diagnostic questions\n\nNever make up prices, service areas, or company policies. If the knowledge base doesn't have the info, say:\n\"Great question! Let me connect you with our team who can give you the most accurate answer. You can call us at (602) 555-1234 or continue texting here and we'll respond within the hour.\"\n\n# HANDOFF TO HUMAN\n\nIf customer explicitly asks for a human or you can't help:\n\"I understand you'd like to speak with someone directly. \n\nOur office hours:\n- Mon-Fri: 8 AM - 6 PM\n- Sat: 9 AM - 3 PM\n- Sun: Emergency only\n\nYou can call (602) 555-1234, or I can have someone call you back. Which would you prefer?\"\n\n# TONE EXAMPLES\n\n❌ TOO FORMAL: \"Greetings valued customer. We would be delighted to assist with your inquiry regarding HVAC services.\"\n✅ JUST RIGHT: \"Hi! I can help with your AC or heating. What's going on?\"\n\n❌ TOO CASUAL: \"Yo! Your AC busted or what? That sucks bro 😂\"\n✅ JUST RIGHT: \"AC not cooling? That's frustrating in Phoenix heat! Let me help you troubleshoot.\"\n\n❌ TOO WORDY: \"Thank you so much for reaching out to us today regarding your air conditioning concerns. I want you to know that we really appreciate you taking the time to contact us and...\"\n✅ JUST RIGHT: \"Thanks for reaching out! What's going on with your AC?\"\n\n# CONVERSATION MEMORY\n\nYou remember the conversation history with each customer. Reference it naturally:\n- \"As you mentioned, your AC stopped cooling yesterday...\"\n- \"You said you're in Scottsdale, right?\"\n- \"Earlier you asked about pricing for AC repair...\"\n\n# CRITICAL RULES\n\n1. Keep responses SHORT (2-4 sentences max per message)\n2. Use knowledge base for ALL facts (prices, areas, hours)\n3. Assess urgency - emergencies get fast-tracked\n4. Get location early - don't waste time if out of service area\n5. Be helpful and empathetic - HVAC issues are stressful\n6. If unsure, offer human handoff - don't make stuff up\n\n# GOAL\n\nYour goal is to:\n1. Quickly understand their HVAC need\n2. Check if they're in service area\n3. Assess urgency (emergency vs routine)\n4. Provide accurate information\n5. Book appointments efficiently\n6. Represent Phoenix HVAC Experts professionally\n\nYou're the first touchpoint for customers - make it count! 🔧"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "438492e6-10ff-4c0f-9951-31df5f015f45",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        208
      ],
      "id": "caff35ce-82f9-4ef5-94e1-abdb79bd3f00",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DskVTOJ1NdjW0dve",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1061760857019943",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        560,
        0
      ],
      "id": "0acada0f-b38c-46a2-9d8e-55ad06d31112",
      "name": "Send message",
      "webhookId": "58a70574-bd87-49f5-a882-3fe8a1753ec7",
      "alwaysOutputData": true,
      "credentials": {
        "whatsAppApi": {
          "id": "ZsQ7cAqXV1n4HeZa",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        592,
        512
      ],
      "id": "50baa158-86da-4eab-aecd-ab2d2fcff1cb",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18pR696pBLHWDtGu5bDz4RwOncflpPcxri5Q4-oBs-F0",
          "mode": "list",
          "cachedResultName": "HVAC_Demo_Complete",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18pR696pBLHWDtGu5bDz4RwOncflpPcxri5Q4-oBs-F0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2004212253,
          "mode": "list",
          "cachedResultName": "Company_Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18pR696pBLHWDtGu5bDz4RwOncflpPcxri5Q4-oBs-F0/edit#gid=2004212253"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        512
      ],
      "id": "19586496-0e1a-477c-9c0c-038972367282",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lT0M6yMFRqykut8m",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    const data = item.json;\n    let content = \"\";\n    let metadata = {};\n\n    // Tab 1: Services & Pricing\n    if (data.Service && data.Description) {\n        content = `Service: ${data.Service}\nDescription: ${data.Description}\nPrice Range: ${data.Price_Range}\nDuration: ${data.Duration}\nEmergency Available: ${data.Emergency_Available}`;\n        \n        metadata = {\n            type: \"service\",\n            service: data.Service,\n            price_range: data.Price_Range,\n            emergency: data.Emergency_Available\n        };\n    } \n    \n    // Tab 2: Service Areas\n    else if (data.City && data.Service_Type) {\n        content = `Service Area: ${data.City}\nZip Codes: ${data.Zip_Codes}\nService Type: ${data.Service_Type}\nNotes: ${data.Notes || \"\"}`;\n        \n        metadata = {\n            type: \"service_area\",\n            city: data.City,\n            service_type: data.Service_Type\n        };\n    } \n    \n    // Tab 3: FAQ\n    else if (data.Question && data.Answer && data.Category) {\n        content = `Question: ${data.Question}\nAnswer: ${data.Answer}\nCategory: ${data.Category}`;\n        \n        metadata = {\n            type: \"faq\",\n            category: data.Category\n        };\n    } \n    \n    // Tab 4: Diagnostics\n    else if (data.Symptom && data.Follow_Up_Questions) {\n        content = `Symptom: ${data.Symptom}\nFollow-Up Questions: ${data.Follow_Up_Questions}\nLikely Issue: ${data.Likely_Issue || \"\"}\nUrgency: ${data.Urgency}`;\n        \n        metadata = {\n            type: \"diagnostic\",\n            symptom: data.Symptom,\n            urgency: data.Urgency\n        };\n    } \n    \n    // Tab 5: Company Info\n    else if (data.Field && data.Value) {\n        content = `${data.Field}: ${data.Value}`;\n        \n        metadata = {\n            type: \"company_info\",\n            field: data.Field\n        };\n    }\n    \n    // Fallback for any other data\n    else {\n        content = JSON.stringify(data);\n        metadata = { type: \"other\" };\n    }\n\n    return {\n        json: {\n            content: content,\n            metadata: metadata\n        }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        512
      ],
      "id": "3ce66424-dbcc-4afd-b097-5c289a8d61f9",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1504,
        512
      ],
      "id": "d46a12a8-4427-48be-a503-d85e82eb096d",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "qxFizIzbLjQtvzL1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1504,
        720
      ],
      "id": "f97d6903-8237-4f91-932e-1d03c101b765",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "DskVTOJ1NdjW0dve",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1216,
        720
      ],
      "id": "668ae446-5f4a-4c1a-8b5b-822961606a89",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to fetch information about the SaaS product such as pricing, features, integrations, technical specs, security, compliance, use cases, and competitor comparisons. Use it whenever the user asks questions about the product.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        336,
        208
      ],
      "id": "4a0cc492-17aa-4be0-bd85-d85e196e8de2",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "qxFizIzbLjQtvzL1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        416
      ],
      "id": "7b9dc6f5-8208-4911-b28f-90e4494bad05",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DskVTOJ1NdjW0dve",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        208,
        208
      ],
      "id": "be36ecae-16a6-4a93-ad41-3d6fe0fa66b8",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "uWuo8KHBe3ixJm7h",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ecfc649f-839f-4d42-b039-ff6bd99f7b79",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce14a24ff2970397f7d3c265029c8f7c83befeb39e2972f97271fa7780cd181c"
  },
  "id": "KBAH6B2MRMVCXGao",
  "tags": []
}