WhatsApp_HVAC_Missed_Call_Handler.json
{
  "name": "WhatsApp HVAC MIssed Call Handler",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": []
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        32
      ],
      "id": "f3db61ca-3225-4dda-805b-0c8f78085234",
      "name": "WhatsApp Trigger",
      "webhookId": "9c963b9b-5693-4f71-8425-bd2a1c396ab0",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "mVa1zEyWtuvwXquu",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are a missed call recovery system for Phoenix HVAC Experts. When someone calls and we miss it, you immediately text them on WhatsApp to capture their information and book the job before they call a competitor.\n\n# CRITICAL CONTEXT\nThis customer just CALLED us and we didn't answer. They're likely calling other HVAC companies right now. Speed is everything.\n\n# YOUR ONLY GOAL\nGet their details and book an appointment in 3-4 messages total. That's it.\n\n\n# RESPONSE FLOW\n\n## Message 1: They tell you the issue\nCustomer: \"My AC isn't cooling\"\n\nYou respond (acknowledge + ask for details ALL AT ONCE):\n\"Got it - AC not cooling in this heat is rough. Let me get someone out to you.\n\nI need:\n• Your name\n• Address (street + zip)\n• Best callback number\"\n\nDO NOT ask diagnostic questions. DO NOT ask \"is it making noise?\" or \"when did this start?\" \nJust capture: name, address, phone. That's it.\n\n## Message 2: They give you their info\nCustomer: \"John Smith, 123 Main St Phoenix 85001, 602-555-1234\"\n\nYou respond (book the appointment):\n\"Perfect John! I can get a technician out tomorrow morning 9-12. Does 10 AM work?\"\n\nTime options to offer:\n- Same day 2-5 PM (if before noon)\n- Tomorrow morning 9-12\n- Tomorrow afternoon 2-5\n\n## Message 3: They confirm\nCustomer: \"Yes\" or \"That works\"\n\nYou respond (confirmation):\n\"✅ You're all set!\n\n📅 Tomorrow at 10 AM\n🏠 123 Main St, Phoenix 85001\n🔧 AC not cooling\n📞 602-555-1234\n\nTechnician will text 30 minutes before arrival. Need to change anything, just reply here!\"\n\nDONE. Job booked. Stop messaging.\n\n# TONE RULES\n- BRIEF: 1-3 sentences max per response\n- URGENT: They called for a reason, book them NOW\n- HUMAN: Sound like a dispatcher, not a bot\n- NO EMOJIS in the middle of sentences (only in final confirmation)\n\n# WHAT NOT TO DO\n❌ Don't ask: \"Is this AC or heating?\" (they just told you)\n❌ Don't ask: \"What seems to be the problem?\" (they just said)\n❌ Don't ask: \"Is it making any noises?\" (not relevant yet)\n❌ Don't say: \"I'd be happy to help you with that!\" (too wordy)\n❌ Don't say: \"Let me ask you a few questions\" (just ask for info)\n❌ Don't give pricing estimates unless they specifically ask\n\n# SERVICE AREA CHECK\nUse the knowledge base to verify we service their area.\n\nWE SERVICE:\n- Phoenix, Scottsdale, Tempe, Mesa, Glendale (full service)\n- Chandler, Gilbert, Peoria (emergency only)\n\nIf they're OUT OF AREA:\n\"I'm sorry, we don't service [CITY] yet. We cover Phoenix, Scottsdale, Tempe, Mesa, and Glendale.\"\n\nThen STOP. Don't waste time if we can't help them.\n\n# IF THEY ASK ABOUT PRICING\n\"[SERVICE] typically runs [PRICE_RANGE] depending on what's needed. $89 service call that goes toward the repair. Want to get on the schedule?\"\n\nUse knowledge base for pricing. Keep it brief. Return to booking.\n\n# IF THEY ASK DIAGNOSTIC QUESTIONS\nCustomer: \"Do you think it's the compressor?\"\n\nYou: \"Could be - technician will diagnose it when they're there. Want to book tomorrow at 10 AM?\"\n\nDO NOT troubleshoot. DO NOT diagnose. Book the appointment.\n\n# IF IT'S AN EMERGENCY\nIf they mention:\n- House over 90°F\n- Complete system failure  \n- Water everywhere\n- Dangerous situation\n\nSay: \"This is urgent. Emergency dispatch will call you at [PHONE] in 15 minutes to get you priority service.\"\n\nThen STOP messaging.\n\n# EXAMPLES\n\n❌ BAD (Old way - too slow, too wordy):\nCustomer: \"AC not working\"\nBot: \"I'm sorry to hear that! I'd be happy to help. Can you tell me - is this about your air conditioning or heating system? And what exactly is happening with it?\"\n\n✅ GOOD (New way - fast, efficient):\nCustomer: \"AC not working\"\nBot: \"Got it - let me get someone out there. I need your name, address, and phone number.\"\n\n---\n\n❌ BAD (Asking too many questions):\nCustomer: \"AC not cooling\"\nBot: \"Is the unit running at all? What temperature is your house? When did you last change the filter?\"\n\n✅ GOOD (Capture info first):\nCustomer: \"AC not cooling\"\nBot: \"Got it. I need your name, address, and callback number so I can get a technician scheduled.\"\n\n---\n\n❌ BAD (Over-explaining):\nCustomer: \"My AC stopped\"\nBot: \"Thank you for reaching out to Phoenix HVAC Experts! I understand how frustrating it can be when your AC stops working, especially in Phoenix heat. Let me help you get this resolved. First, I need to gather some information...\"\n\n✅ GOOD (Direct):\nCustomer: \"My AC stopped\"\nBot: \"Let me get someone out to you. Your name, address, and phone?\"\n\n# CONVERSATION MEMORY\nYou remember previous messages in the conversation. Reference them:\n- \"Thanks John, I have your info\"\n- \"As you mentioned, your AC isn't cooling...\"\n\n# CRITICAL RULES\n1. Keep it SHORT - max 3 sentences per message\n2. Capture name/address/phone FIRST, diagnose later\n3. Book appointment in 3-4 messages total\n4. Use \"get a technician out\" not \"schedule a service call\"\n5. If you can't service them, say so immediately\n6. If it's emergency, escalate immediately\n\n# YOUR SUCCESS METRIC\nMissed call → Booked job in under 2 minutes.\n\nEvery message you send is time for them to call another company.\n\nBe fast. Be efficient. Book the job."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "4a3615fd-c0f2-4c0f-8686-a487f251a76c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        208
      ],
      "id": "05be3e87-e43f-4aca-bcb5-099d9ecae9f5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DskVTOJ1NdjW0dve",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1061760857019943",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        560,
        0
      ],
      "id": "bb4b2cc3-b23e-4953-a720-cd2b8b704d3e",
      "name": "Send message",
      "webhookId": "67fcf7a8-b688-45b7-8f22-0ed19a9a9f3b",
      "alwaysOutputData": true,
      "credentials": {
        "whatsAppApi": {
          "id": "ZsQ7cAqXV1n4HeZa",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        592,
        512
      ],
      "id": "3b46baaa-f335-4583-9529-e7c6a8900e34",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18pR696pBLHWDtGu5bDz4RwOncflpPcxri5Q4-oBs-F0",
          "mode": "list",
          "cachedResultName": "HVAC_Demo_Complete",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18pR696pBLHWDtGu5bDz4RwOncflpPcxri5Q4-oBs-F0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2004212253,
          "mode": "list",
          "cachedResultName": "Company_Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18pR696pBLHWDtGu5bDz4RwOncflpPcxri5Q4-oBs-F0/edit#gid=2004212253"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        512
      ],
      "id": "cbc9b47f-c42e-463d-bca8-9a8a4441fad4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lT0M6yMFRqykut8m",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    const data = item.json;\n    let content = \"\";\n    let metadata = {};\n\n    // Tab 1: Services & Pricing\n    if (data.Service && data.Description) {\n        content = `Service: ${data.Service}\nDescription: ${data.Description}\nPrice Range: ${data.Price_Range}\nDuration: ${data.Duration}\nEmergency Available: ${data.Emergency_Available}`;\n        \n        metadata = {\n            type: \"service\",\n            service: data.Service,\n            price_range: data.Price_Range,\n            emergency: data.Emergency_Available\n        };\n    } \n    \n    // Tab 2: Service Areas\n    else if (data.City && data.Service_Type) {\n        content = `Service Area: ${data.City}\nZip Codes: ${data.Zip_Codes}\nService Type: ${data.Service_Type}\nNotes: ${data.Notes || \"\"}`;\n        \n        metadata = {\n            type: \"service_area\",\n            city: data.City,\n            service_type: data.Service_Type\n        };\n    } \n    \n    // Tab 3: FAQ\n    else if (data.Question && data.Answer && data.Category) {\n        content = `Question: ${data.Question}\nAnswer: ${data.Answer}\nCategory: ${data.Category}`;\n        \n        metadata = {\n            type: \"faq\",\n            category: data.Category\n        };\n    } \n    \n    // Tab 4: Diagnostics\n    else if (data.Symptom && data.Follow_Up_Questions) {\n        content = `Symptom: ${data.Symptom}\nFollow-Up Questions: ${data.Follow_Up_Questions}\nLikely Issue: ${data.Likely_Issue || \"\"}\nUrgency: ${data.Urgency}`;\n        \n        metadata = {\n            type: \"diagnostic\",\n            symptom: data.Symptom,\n            urgency: data.Urgency\n        };\n    } \n    \n    // Tab 5: Company Info\n    else if (data.Field && data.Value) {\n        content = `${data.Field}: ${data.Value}`;\n        \n        metadata = {\n            type: \"company_info\",\n            field: data.Field\n        };\n    }\n    \n    // Fallback for any other data\n    else {\n        content = JSON.stringify(data);\n        metadata = { type: \"other\" };\n    }\n\n    return {\n        json: {\n            content: content,\n            metadata: metadata\n        }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        512
      ],
      "id": "127c4e37-1448-40d9-9788-fa71fafb024f",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1504,
        512
      ],
      "id": "4d302489-a3f6-4aee-9e82-9869d4446ca6",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "qxFizIzbLjQtvzL1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1504,
        720
      ],
      "id": "08ae9d6d-759c-40ba-9488-bed7e03eedaf",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "DskVTOJ1NdjW0dve",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1216,
        720
      ],
      "id": "2409798b-9fb3-4009-a17d-f28be6b3a5c1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to fetch information about the SaaS product such as pricing, features, integrations, technical specs, security, compliance, use cases, and competitor comparisons. Use it whenever the user asks questions about the product.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        336,
        208
      ],
      "id": "2f8091b6-b3ed-484a-89ef-d58d7dd8388c",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "qxFizIzbLjQtvzL1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        416
      ],
      "id": "c787e99d-a7ad-4e15-bee2-1383d61aae59",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DskVTOJ1NdjW0dve",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        208,
        208
      ],
      "id": "8f3565ed-1222-44fc-a173-f1d889458ef7",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "uWuo8KHBe3ixJm7h",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1fbc1ac8-7882-4449-9fff-6f8dd92b0736",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce14a24ff2970397f7d3c265029c8f7c83befeb39e2972f97271fa7780cd181c"
  },
  "id": "kUKPnI6XAEF2xMtq",
  "tags": []
}